<h1>Users</h1>

<table>
	<tr>
		<th>image</th>
		<th>name</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<th><%= form.attachment_field :profile_image %></th>
		<th><%= user.name %></th>
		<th><%= link_to user_path(user.id) do %>
			<p>show</p>
			<% end %>
		</th>
	</tr>
	<% end %>
</table>