<h1>Users</h1>

<table>
	<tr>
		<th>image</th>
		<th>name</th>
		<th></th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<th>
				<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
			</th>
			<th>
				<%= user.name %>
			</th>
			<th>
				<p><%= link_to "show", user_path(user.id) %></p>
			</th>
		</tr>
	<% end %>
</table>